{
  "web": {
    "client_id": "8943e428-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "client_secret": "GAnxxxxxxxxxxxxxxxxxxxxx",
    "auth_uri": "https://oauth.id.jumpcloud.com/oauth2/auth",
    "token_uri": "https://oauth.id.jumpcloud.com/oauth2/token",
    "issuer": "https://oauth.id.jumpcloud.com",
    "userinfo_uri": "https://oauth.id.jumpcloud.com/userinfo",
    "redirect_uris": [
      "http://localhost:5000/authorize"
    ],
    "client_auth_method": "client_secret_post"
  }
}